nav {
  width:100%;
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom:solid 1px rgba(181, 181, 181, 0.5);
  background-color: rgba(255, 255, 255, 1);
}

.nav-contents {
  width: 950px;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  display:flex;
  justify-content: center;
  align-items: center;
  width:7em;  
  cursor: pointer;
}

.instagramText {
  width:100%;
}

.search-div-inner {
  border: solid 1px  rgba(181, 181, 181, 0.5);
  background-color: rgba(181, 181, 181, 0.1);
  border-radius:0.2em;
  width: 16em;
  height: 2.2em;
}

.menu-div {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:13em;
}

.nav-icon {
  width:1.5em;  
  cursor: pointer;
}

.nav-profile { 
  border-radius:1em;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 5em;      
}

.feeds {    
  display:flex;
  flex-direction: column;
  align-items: center;
  width:38em;
}

article { 
  margin-bottom:4em;
  width: 100%;
  border: solid 1px  rgba(181, 181, 181, 0.5);  
  border-radius:0.2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-title {
  display: flex;
  height:4em;
  width:100%;
  justify-content: center;
  align-items: center;
  padding:0.7em;
}

.article-title-img {
  flex:none;
  width: 2em;
  height: 2em;
  border-radius: 10em;
  cursor: pointer;  
  margin:0 0.5em;
}

.article-title-center {
  flex:none;
  margin:0 0.5em;
}

/* 이름정보 텍스트에 사용할 span */
.span-userName {  
  font-size:0.88em;
  cursor: pointer;
  font-weight:bold;  
  display:block;
}

.span-location {
  font-size:0.7em;
  cursor: pointer; 
  display:block;
}

.article-title-more {
  margin-left: auto;
  width:1.5em;
}

.article-center-div {
  width:100%;
}

.article-center-div-img {
  width:100%;
}

.article-content {
  max-height: 15em;
  min-height: 10em;
  width:100%;
  display:flex;
  flex-direction: column;
}

.article-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.3em 0.8em;
}

.article-content-title-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.5em;
}

.article-content-icon {
  width: 1.7em;
  height: 1.6em;  
  cursor: pointer;
}

.article-content-title-center {
  display: flex;   
  width: 7.5em;
  justify-content: center;
  align-items: center;
}

.article-content-title-right {
  display:flex;
  width:7.5em;
}

.article-content-bookmarkicon {
  display:flex;
  width: 1.8em;
  height: 1.6em;
  margin-left:auto;
}

.article-like-user {
  display:flex;
  align-items: center;
  padding:0.3em 0.8em;
}

.article-like-user-icon {
  width:1.5em;
  margin-right:0.5em;
}

/* 이름정보 텍스트에 사용할 span */
.span-like-user { 
  font-size:0.8em;
  margin:0 0.1em;
  cursor: pointer;  
  font-weight: bold;
}

.span-like-user-common {
  font-size:0.8em;  
  margin:0 0.1em;
}

.comment-write-div {
  padding:0.1em 0.8em;
  border-top: solid 1px  rgba(181, 181, 181, 0.5); 
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;  
  min-height:3.7em;
  margin-top:auto;
}

.comment-write {
  border: solid 0.1px  rgba(255, 255, 255, 0.1);
  width: 90%;  
}

input:focus {outline:none;}
button:focus {outline:none;}

.submitButton {
  color:rgba(var(--d69,0,149,246),.3);
  background-color: white;
  border: solid 0.1px  rgba(255, 255, 255, 0.1);
  font-size:0.9em;
  font-weight: bold;
}

.clickbutton {
  color:rgba(var(--d69,0,149,246),1);
  cursor: pointer;  
  background-color: white;
  border: solid 0.1px  rgba(255, 255, 255, 0.1);
  font-size:0.9em;
  font-weight: bold;  
}

/* 우측메뉴 */
.main-right {
  display:flex; 
  align-items: center;
  justify-content:center;
  width: 20em;
  height: 40em;
  margin-left: 1em;  
}

/* 우측메뉴 반응형 적용 */
@media (max-width:980px){
  .main-right {
    display:none;
  }
}
@media (max-width:981px){
  .main-right {
      display:" ";
  }
}

.main-right-inner {
  height: 100%;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-right-profile {
  display:flex;
  align-items: center;
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
}

.main-right-profile-icon {
  width: 3.2em;
  border-radius: 10em;
  cursor: pointer;
}

.main-right-profile-text {
  margin-left: 1em;
  padding-top: 0.3em;
}

/* 이름아래 텍스트에 사용할 span */
.span-description {
  display:block;
  font-size:0.8em;
  color:gray;
}

.main-right-story {
  width: 100%;
  height: 13em;
  border: solid 1px  rgba(181, 181, 181, 0.5);
  border-radius: 0.2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.main-right-story-title {  
  display: flex;
  justify-content:space-between;
  padding:0.8em 1em 0.6em 1em;
}

/* 오른쪽메뉴의 스토리, 회원님을 위한 추천 텍스트 */
.span-right-secondTitle {
  font-size:0.9em;
  color:gray;
  font-weight: bold;
}
/* 오른쪽메뉴의 모두보기 텍스트 */
.span-right-description {
  cursor: pointer;
  font-size:0.8em;
  font-weight: bold;
}

.main-right-story-content {
  display:flex;
  flex-direction: column;
  overflow-y: auto;  
  padding-left:0.8em;
}

.main-right-story-content-inner {
  display:flex;
  align-items: center;
  margin:0.2em;  
}

.main-right-story-content-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  border: solid 0.5px  rgba(181, 181, 181, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
/* 스토리 있을 때 빨간 테두리 */
.storyOn-border {
  border: solid 2px rgb(246, 70, 91);
}

.main-right-story-content-img-inner {
  width: 2.4em;
  height: 2.4em;
  border-radius: 2.4em;
  margin: 0;
}

.main-right-story-content-text {
  margin-left: 0.6em;
}
/* 스토리 시간표현에 사용할 span */
.span-story-time {
  display:block;
  font-size:0.65em;
  color:gray;
}

.main-right-explore {
  width: 100%;
  height: 12em;
  border: solid 1px  rgba(181, 181, 181, 0.5);
  border-radius: 0.2em;
  margin-bottom: 1em;
  display:flex;
  flex-direction: column;
}

.main-right-explore-title {
  display: flex;
  justify-content:space-between;
  padding:0.8em 1em 0.5em 1em;
}

.main-right-explore-content {
  display:flex;
  flex-direction: column;  
  padding-left:0.8em;
}

.main-right-explore-content-inner {
  display:flex;
  align-items: center;
  margin:0.2em;  
}

.main-right-explore-content-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  cursor: pointer;
}

.main-right-explore-content-text {
  margin-left: 0.6em;
}

/* 추천안에서 상대방의 상테 표현에 사용할 span */
.span-explore-userStatus {
  display:block;
  font-size:0.75em;
  color:gray;
}

.main-right-explore-content-follow {
  display:flex;
  justify-content: center;
  align-items: center;
}

.span-explore-content-follow {
  display: block;
  margin-left: 4.1em;
  color: #0095f6;
  font-size: 0.75em;
  font-weight: bold;

}

.main-right-info {
  width: 100%;
  height: 6em;
}
/* 인포에서 사용할 span */
.span-info {
  display:block;
  font-size:0.65em;
  color:rgba(181, 181, 181, 0.7);
}