{% extends 'base.html' %}
{% block body %}
    <form action='{% url "subway:edit" subway.id %}' method='POST'>
        {% csrf_token %}
        <div>
            이름: <input type="text" name="name" value="{{ subway.name }}">
        </div>
        <hr>
        <div>
            주소: <input type="text" name="address" value="{{ subway.address }}">
        </div>
        <hr>
        <div>
            번호: <input type="tel" name="phone" value="{{ subway.phone }}">
        </div>
        <hr>
        <div>
            메뉴:
            <select name="menu">
                <option value="치킨 데리야키">치킨 데리야키</option>
                <option value="이탈리안 BMT">이탈리안 BMT</option>
                <option value="로스트 치킨">로스트 치킨</option>
                <option value="서브웨이 클럽">서브웨이 클럽</option>
                <option value="참치">참치</option>
            </select>
        </div>
        <hr>
        <div>
            빵:
            <input type="radio" name="bread" value="위트">위트
            <input type="radio" name="bread" value="허니오트">허니오트
            <input type="radio" name="bread" value="파마산 오레가노">파마산 오레가노
            <input type="radio" name="bread" value="플랫 브레드">플랫 브레드
        </div>
        <hr>
        <div>
            소스:
            <input type="checkbox" name="sauce" value="스윗 언년">스위트 언년
            <input type="checkbox" name="sauce" value="허니 머스탇">허니 머스탇
            <input type="checkbox" name="sauce" value="스윗 칄리">스윗 칄리
            <input type="checkbox" name="sauce" value="사우전 아일랜">사우전 아일랜
            <input type="checkbox" name="sauce" value="핫 칄리">핫 칄리
        </div>
        <hr>
        <div>
            채소:
            <input type="checkbox" name="veg" value="양배추">양배추
            <input type="checkbox" name="veg" value="토마토">토마토
            <input type="checkbox" name="veg" value="오이">오이
            <input type="checkbox" name="veg" value="피망">피망
            <input type="checkbox" name="veg" value="양파">양파
            <input type="checkbox" name="veg" value="올리브">올리브
        </div>
        <hr>
        <div>
            음료
            <input type="radio" name="drink" value="사이다">사이다
            <input type="radio" name="drink" value="콜라">콜라
            <input type="radio" name="drink" value="환타">환타
        </div>
        <input type='submit' value="주문하기">
    </form>
{% endblock %}